<script>
$(document).ready(function() {
  var user_types = ['instructor', 'student'];

  function deselect_all() {
    $(".user-type").removeClass("user-type-selected");
  }

  function set_form(user) {
    $('#session-form').attr("action", "/" + user + "s/sign_in");
    $('#email_input').attr("name", user + "[email]");
    $('#password_input').attr("name", user + "[password]");
  }

  function set_style(user) {
    index = user_types.indexOf(user);
    if (index == 0) {
      $('#session-inputs').addClass("jumbotron-form-sharp-top-left");
      console.log("a");
    } else {
      $('#session-inputs').removeClass("jumbotron-form-sharp-top-left");
    }
  }

  function select_professor() {
    deselect_all();
    $("#professor-selector").addClass("user-type-selected");
    set_form("instructor");
    set_style("instructor");
  }

  function select_student() {
    deselect_all();
    $("#student-selector").addClass("user-type-selected");
    set_form("student");
    set_style("student");
  }

  $("#professor-selector").click(function() {
    select_professor();
  });

  $("#student-selector").click(function() {
    select_student();
  });

  select_professor();
});
</script>
<div class="jumbotron">
  <h1>Sign In</h1>
  <div class="user-type-selector">
    <div class="user-type" id="professor-selector">
      <h3>Professor</h3>
    </div>
    <div class="user-type" id="student-selector">
      <h3>Student</h3>
    </div>
  </div>
  <%= form_tag session_path(:instructor), id: 'session-form' do |f| %>
    <div class="jumbotron-form" id="session-inputs">
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>Email<span></p>
        <div class="jumbotron-form-input"><%= text_field_tag 'instructor[email]', nil, id: 'email_input' %></div>
      </div>
      <div class="jumbotron-form-group">
        <p class="jumbotron-form-label"><span>Password<span></p>
        <div class="jumbotron-form-input"><%= password_field_tag 'instructor[password]', nil, id: 'password_input' %></div>
      </div>
    </div>
    <%= submit_tag 'Sign In', class: 'button' %>
  <% end %>
</div>
