<script>
$(document).ready(function() {
  horizontalSelectorShowHide([
    { id: "slides-selector", element: "#slides-display" },
    { id: "video-selector", element: "#video-display" },
    { id: "source-selector", element: "#source-display" },
    { id: "challenges-selector", element: "#challenges-display" }
  ], {
    bottom_element: $("#display"),
    first_selected: "blue-border-sharp-top-left"
  });
});
</script>
<h1 class="heading"><%= @lesson.title %></h1>

<div class="horizontal-selector horizontal-selector-light">
  <div class="selector-option selector-option-light" id="slides-selector">
    <h3>Slides<h3>
  </div>
  <% has_video = false %>
  <% if has_video %>
    <div class="selector-option selector-option-light" id="video-selector">
      <h3>Video<h3>
    </div>
  <% end %>
  <div class="selector-option selector-option-light" id="source-selector">
    <h3>Source<h3>
  </div>
  <div class="selector-option selector-option-light" id="challenges-selector">
    <h3>Exercises<h3>
  </div>
</div>
<div class="lesson-display blue-border" id="display">
  <div id="slides-display">
    Slides
  </div>
  <div id="video-display">
    Video
  </div>
  <div id="source-display">
    Source
  </div>
  <div id="challenges-display">
    <% @lesson.exercises.each do |exercise| %>
      <h3><%= link_to exercise.title, exercise %></h3>
    <% end %>
    <% if instructor_signed_in? %>
      <h3><%= link_to "New Exercise", new_exercise_path %></h3>
    <% end %>
  </div>
</div>
