<p id="notice"><%= notice %></p>

<h1 class="heading"><%= @lesson.title %></h1>

<div class="jumbotron jumbotron-light">
  <div class="horizontal-selector">
    <div class="selector-option">
      <h3>Slides<h3>
    </div>
    <div class="selector-option">
      <h3>Video<h3>
    </div>
    <div class="selector-option">
      <h3>Source<h3>
    </div>
    <div class="selector-option">
      <h3>Challenges<h3>
    </div>
  </div>
</div>
