<script>
//stolen from lesson index until we have slides object
$(document).ready(function() {
  // Start off hiding all exercises
  lessons = $(".lesson-container");
  for (var i = 0; i < lessons.length; ++i) {
    $(lessons[i]).find(".exercises").hide();
  }

  $(".expand-button").click(function(event) {
    button = $(event.currentTarget);
    if (button.html() == "-") {
      button.html("+");
    } else if (button.html() == "+") {
      button.html("-");
    }
    exerciseContainer = $(event.currentTarget).parent().find(".exercises");
    exerciseContainer.toggle();
  });
});
</script>
<p id="notice"><%= notice %></p>


<hr />

<% @course.lessons.each do |lesson| %>
  <div class="lesson-container" data-lessonid="1">
    <button class="expand-button" data-lessonid="1">+</button>
    <%= link_to lesson.title, lesson_path(lesson) %>
    <div class="exercises">
      <% lesson.exercises.each do |exercise| %>
        <div class="exercise-listing">
          <%= link_to exercise.title, exercise_path(exercise) %>
        </div>
      <% end %>
    </div>
    <hr />
  </div>
<% end %>
