<script>
$(document).ready(function() {
  $(".sort").change(function() {
  });
});
</script>
<p id="notice"><%= notice %></p>

<div style="margin-bottom: 20px;">
  <h1 class="heading" style="display: inline; margin-right: 100px;">Grades</h1>

  <span>
    Arrange By:
    <select class="sort">
      <option value="submitted">Submitted</option>
      <option value="due">Due</option>
    </select>
  </span>
</div>

<table class="full-table">
  <tr class="table-header">
    <th>Lesson Name</th>
    <th>Due</th>
    <th>Status</th>
    <th>Score</th>
  </tr>
  <% @exercises.each do |exercise| %>
    <tr>
      <td><%= exercise.lesson.title %>: <%= exercise.title %></td>
      <td>Due</td>
      <td>Status</td>
      <td>Score</td>
    </tr>
  <% end %>
</table>
