<div class="sidebar-container">
  <div class="sidebar">
    <div class="sidebar-icon">
      <%= image_tag 'home-240.png' %>
      <p>Home</p>
    </div>
    <div class="sidebar-icon sidebar-icon-selected">
      <%= image_tag 'lessons-240.png' %>
      <p>Lessons</p>
    </div>
    <div class="sidebar-icon">
      <%= image_tag 'grades-240.png' %>
      <p>Grades</p>
    </div>
  </div>
</div>
